.table-striped button[type=submit] {
    width: 100%;
}

.table-striped .thead {
    font-weight: bold;
}

.table-striped > .tbody > .row {
    border-top: 1px solid #ddd;
}
.table-striped > .tbody > .row:nth-of-type(2n+1) {
    background-color: #f9f9f9;
}

.table-striped .row [class*="col-"] {
    padding: 5px;
}

.row-padding-s {
    margin-left: -5px;
    margin-right: -5px;
}

.row-padding-s [class*="col-"]{
    padding-left: 5px;
    padding-right: 5px;
}

.form-control.ignore-helpers {
    border: 1px solid #ccc;
}

input[type="checkbox"] {
    margin: auto;
}

.btn-primary {
    transition: background-color 0.3s ease-out;
    -ms-transition: background-color 0.3s ease-out;
    -moz-transition: background-color 0.3s ease-out;
    -webkit-transition: background-color 0.3s ease-out;
}